/**
* Palette 
* Neutral Grey - #CFCFCD
* Vermillion - #E3170A
* Star Command Blue - #2980B9
* Sky Blue - #6DD5FA
* White - #FFFFFF
* Darkest Neutral Gray - #1A1A1A
* Black - #000000
**/

/**
font-family: 'Sawarabi Gothic', sans-serif;
font-family: 'Sawarabi Mincho', sans-serif;
font-family: 'Open Sans', sans-serif;
**/ 

/* Import Open Sans (reg/bold), Sarawabi Gothic, Sarawabi Mincho */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Sawarabi+Gothic&family=Sawarabi+Mincho&display=swap');

body {
  color: #1A1A1A;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin:0px;
}

#nav {
  background: #F9F9F9;
  padding: 10px;
}

#nav-home {
  color: #1A1A1A;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: bold;
}

.nav-item {
  margin-right: 20px;
  color: #2980B9;
  font-family: 'Sawarabi Gothic', sans-serif;
}

#title-card {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 250px;
  align-items: center;
  text-align:center;
  font-family: 'Sawarabi Mincho', sans-serif;
}

#full-name {
  font-size: 72px;
  color: #F9F9F9;
}

#title-label {
  font-size: 24px;
  color: #F9F9F9;
}

.gallery-item {
  margin: 20px;
}

#footer {
  margin-top: 20px;
  background: #F9F9F9;
  font-size: 8px;
  padding: 10px, 10px, 15px, 15px;
  margin-bottom: s;
}

img {
  width: 200px;
  height: 250px;
}
